<html>
	<head>
		<title>Image Upload</title>
	</head>
	<body>
		<h1>Upload Carrier Image</h1>
		<form action="save_image" method="POST" enctype = "multipart/form-data">
			<h2> Carrier Image</h2>
			<input type="file" name="carrier_file">
			<h2> Message File</h2>
			<input type="file" name="message_file">
			<input type="submit" value="Upload image">
		</form>
	</body>
</html>
